<template name="login">
    <div class="form-group mainContainer">
        <h1 class="text-center">Connexion</h1>
        <form class="form-signin" action="" method="">
            <input type="text" name ="username" class="form-control" placeholder="Email ou Pseudo" required autofocus><br/>
            <input type="password" name ="password" class="form-control" placeholder="Password" required><br/>
            <button class="btn btn-info btn-block login" value="login" type="submit">Connexion</button>
        </form>
        <div id="tabs" data-tabs="tabs">
            <p class="text-center"><a href="/register">Créer un compte</a></p>
        </div>
    </div>
</template>